Builds/
Library/
Logs/
Temp/
UserSettings/
.*/
!.gitignore
Assets/PassthroughCameraApiSamples/MultiObjectDetection/SentisInference/Model/*
Assets/PassthroughCameraApiSamples/AugmentedBilliards/Models/*